In [1]:
from pyspark import SparkConf
from pyspark.sql import SparkSession

In [2]:
key_read = 'AKIA2LE55LEXVXSG3BYW'
secret_read = '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'

In [3]:
conf = SparkConf()
conf.set('spark.jars.packages', 'org.apache.hadoop:hadoop-aws:3.3.3,com.amazonaws:aws-java-sdk:1.12.258')
conf.set("spark.hadoop.fs.s3a.access.key", key_read)
conf.set("spark.hadoop.fs.s3a.secret.key", secret_read)

### Create SparkSession

In [4]:
spark = SparkSession.builder.master('spark://spark:7077').appName('OpenSky_app').config(conf=conf).getOrCreate()

### Create dataframe from data, located in S3 bucket

In [5]:
data_path_sample = 's3a://avia-data-2022-03-01/data/states_2022-01-03-00.csv'
data_path_full = 's3a://avia-data-2022-03-01/data/'

df=spark.read.csv(data_path_sample, header = True)

### Discover data schema

In [6]:
df.printSchema()

root
 |-- time: string (nullable = true)
 |-- icao24: string (nullable = true)
 |-- lat: string (nullable = true)
 |-- lon: string (nullable = true)
 |-- velocity: string (nullable = true)
 |-- heading: string (nullable = true)
 |-- vertrate: string (nullable = true)
 |-- callsign: string (nullable = true)
 |-- onground: string (nullable = true)
 |-- alert: string (nullable = true)
 |-- spi: string (nullable = true)
 |-- squawk: string (nullable = true)
 |-- baroaltitude: string (nullable = true)
 |-- geoaltitude: string (nullable = true)
 |-- lastposupdate: string (nullable = true)
 |-- lastcontact: string (nullable = true)

### Discover first two data rows as a sample

In [7]:
%%time
df.show(2, vertical=True)

-RECORD 0---------------------------
 time          | 1641168000
 icao24        | 4ca8e8
 lat           | 52.980357024629235
 lon           | 0.9484340122767858
 velocity      | 193.79249556560254
 heading       | 284.92161967831635
 vertrate      | 0.0
 callsign      | RYR23RR
 onground      | False
 alert         | False
 spi           | False
 squawk        | 2267
 baroaltitude  | 11582.400000000001
 geoaltitude   | 11330.940000000002
 lastposupdate | 1641167998.888
 lastcontact   | 1641168000.0
-RECORD 1---------------------------
 time          | 1641168000
 icao24        | 471f41
 lat           | 42.85221940380032
 lon           | 5.691571916852679
 velocity      | 239.28338367520857
 heading       | 55.865788040908285
 vertrate      | 0.32512
 callsign      | WZZ5552
 onground      | False
 alert         | False
 spi           | False
 squawk        | 1014
 baroaltitude  | 10972.800000000001
 geoaltitude   | 11300.460000000001
 lastposupdate | 1641167998.908
 lastcontact   | 1641168000.0
only showing top 2 rows

CPU times: user 3.44 ms, sys: 3.95 ms, total: 7.39 ms
Wall time: 20.4 s

In [11]:
df.select('velocity').describe().show()

+-------+------------------+
|summary|          velocity|
+-------+------------------+
|  count|           1930801|
|   mean|181.08399036890313|
| stddev|  71.5853308480394|
|    min|               0.0|
|    max| 99.99420473901083|
+-------+------------------+

In [12]:
df.select('icao24','velocity').groupBy('icao24').avg().show()

+------+
|icao24|
+------+
|aa2d51|
|4bce03|
|3e0a46|
|ab5f1b|
|ace4e0|
|a2b10d|
|a601a8|
|a2587f|
|846ec8|
|a83697|
|c03bfb|
|ab96a4|
|a8da4e|
|a72823|
|a6f1a4|
|a7337e|
|abbf2e|
|a2db21|
|a4491c|
|44e228|
+------+
only showing top 20 rows