In [17]:
import os
from geopandas import GeoDataFrame

from pyspark import SparkConf, SparkFiles
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, rank
from pyspark.sql.window import Window
from pyspark.sql.types import StringType
from pyspark.storagelevel import StorageLevel

from sedona.utils import KryoSerializer, SedonaKryoRegistrator
from sedona.utils.adapter import Adapter
from sedona.register import SedonaRegistrator

### Create SparkSession

In [18]:
conf = SparkConf()

In [19]:
#Create Spark configuration to run Spark jobs with Sedona capabilities
conf.set("spark.sql.autoBroadcastJoinThreshold",-1)
conf.set("spark.serializer", KryoSerializer.getName)
conf.set("spark.kryo.registrator", SedonaKryoRegistrator.getName)
conf.set('spark.jars.packages',
           'org.apache.sedona:sedona-python-adapter-3.0_2.12:1.0.0-incubating,'
           'org.datasyslab:geotools-wrapper:geotools-24.0')

In [3]:
#Additional configuration to have access to S3 bucket
conf.set('spark.jars.packages', 'org.apache.hadoop:hadoop-aws:2.7.4,com.amazonaws:aws-java-sdk-bundle:1.12.264')
conf.set("spark.hadoop.fs.s3a.access.key", os.getenv('AWS_S3_KEY'))
conf.set("spark.hadoop.fs.s3a.secret.key", os.getenv('AWS_S3_SECRET'))

In [20]:
os.environ['PYSPARK_DRIVER_PYTHON'] = "/home/venv36/bin/python"
spark = SparkSession.builder.master("spark://spark:7077"). \
    config(conf=conf). \
    appName('OpenSky_app'). \
    getOrCreate()

In [21]:
#Add spatial functionality to the SparkSession
SedonaRegistrator.registerAll(spark)

True

### Load states boundaries dataset

In [22]:
#Load data from local file to geoDataFrame
geo_admin_url = 'admin1-us.geojson'
gdf_states = GeoDataFrame.from_file(geo_admin_url)

#Create pySpark dataframe and view
spark_states_df = spark.createDataFrame(gdf_states)
spark_states_df.createOrReplaceTempView('states')

In [23]:
spark_states_df.printSchema()

root
 |-- name: string (nullable = true)
 |-- country: string (nullable = true)
 |-- ISO3166-1-Alpha-3: string (nullable = true)
 |-- state_code: string (nullable = true)
 |-- id: string (nullable = true)
 |-- geometry: geometry (nullable = true)

In [24]:
#Inspect view
spark.sql(
    """
    SELECT * 
    FROM states 
    ORDER BY name 
    """
).show(5)

+----------+--------------------+-----------------+----------+--------+--------------------+
|      name|             country|ISO3166-1-Alpha-3|state_code|      id|            geometry|
+----------+--------------------+-----------------+----------+--------+--------------------+
|   Alabama|United States of ...|              USA|        AL|USA-3541|POLYGON ((-85.054...|
|    Alaska|United States of ...|              USA|        AK|USA-3563|MULTIPOLYGON (((-...|
|   Arizona|United States of ...|              USA|        AZ|USA-3520|POLYGON ((-109.04...|
|  Arkansas|United States of ...|              USA|        AR|USA-3528|POLYGON ((-89.662...|
|California|United States of ...|              USA|        CA|USA-3521|POLYGON ((-114.35...|
+----------+--------------------+-----------------+----------+--------+--------------------+
only showing top 5 rows

### Create dataframe from local data

In [25]:
df=spark.read.csv('/opt/bitnami/spark/temp/states_2022-01-03-00.csv',inferSchema =True, header = True)
# df=spark.read.csv('/opt/bitnami/spark/temp/',inferSchema =True, header = True)

### Create dataframe from S3 located data

In [ ]:
df=spark.read.csv('s3a://avia-data-2022-03-01/data/states_2022-01-03-00.csv',inferSchema =True, header = True)

### Discover data schema

In [26]:
df.printSchema()

root
 |-- time: integer (nullable = true)
 |-- icao24: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lon: double (nullable = true)
 |-- velocity: double (nullable = true)
 |-- heading: double (nullable = true)
 |-- vertrate: double (nullable = true)
 |-- callsign: string (nullable = true)
 |-- onground: boolean (nullable = true)
 |-- alert: boolean (nullable = true)
 |-- spi: boolean (nullable = true)
 |-- squawk: integer (nullable = true)
 |-- baroaltitude: double (nullable = true)
 |-- geoaltitude: double (nullable = true)
 |-- lastposupdate: double (nullable = true)
 |-- lastcontact: double (nullable = true)

# A total number of flying vehicles in particular dataset

In [27]:
unicue_vehicles = df.select('icao24').distinct().count()
print(f'Number of unique vehicles is {unicue_vehicles}')

Number of unique vehicles is 10508

### Modify DataFrame and add a column with WKT coordinates, shapely geometry and direction

#### WITHOUT UDFs

In [28]:
#Filterout bad data and vegicles on the ground
df.dropna(subset=("icao24", "lat", "lon")). \
    filter(col('onground') == False). \
    createOrReplaceTempView('points')

In [13]:
#Enrich data with named directions and states based on coordinates
merged_df = spark.sql(
    """
    SELECT 
      time, 
      icao24, 
      velocity, 
      vertrate, 
      geoaltitude,
      s.name,
      CASE 
          WHEN heading > 337.5 OR heading <= 22.5 THEN 'North' 
          WHEN 67.5 >= heading AND heading > 22.5 THEN 'Northeast' 
          WHEN 112.5 >= heading AND heading > 67.5 THEN 'East' 
          WHEN 157.5 >= heading AND heading > 112.5 THEN 'Southeast' 
          WHEN 202.5 >= heading AND heading > 157.5 THEN 'South' 
          WHEN 247.5 >= heading AND heading > 202.5 THEN 'Southwest' 
          WHEN 292.5 >= heading AND heading > 247.5 THEN 'West' 
          WHEN 337.5 >= heading AND heading > 292.5 THEN 'Northwest' 
          ELSE NULL 
      END AS heading_str 
    FROM 
      (
        SELECT 
          *, 
          ST_GeomFromWKT(
            CONCAT('POINT(', lon, ' ', lat, ')')
          ) as geometry 
        FROM 
          points
      ) AS p, 
      states as s 
    WHERE 
      ST_Intersects(p.geometry, s.geometry)
    """
)
merged_df.drop(col('geometry')).persist(StorageLevel.MEMORY_ONLY).createOrReplaceTempView('merged_view')

In [14]:
merged_df.printSchema()

root
 |-- time: integer (nullable = true)
 |-- icao24: string (nullable = true)
 |-- velocity: double (nullable = true)
 |-- vertrate: double (nullable = true)
 |-- geoaltitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- heading_str: string (nullable = true)

### Find top values of vertical speed, speed of ascending and descending, and the highest flight in the all US teritory

In [33]:
TOP_values_df = spark.sql(
    """
    SELECT DISTINCT "fastest vertival" as nomination, icao24, name as state, mv.velocity as value
    FROM merged_view as mv
    INNER JOIN    
        (SELECT max(mv) as velocity
        FROM (SELECT icao24, max(velocity) as mv
                FROM merged_view
                GROUP BY icao24) as mv) as mx
                ON mv.velocity = mx.velocity
    UNION
    SELECT DISTINCT "fastest ascending" as nomination, icao24, name as state, mv.vertrate as value
    FROM merged_view as mv
    INNER JOIN    
        (SELECT max(mv) as vertrate
        FROM (SELECT icao24, max(vertrate) as mv
                FROM merged_view
                GROUP BY icao24) as mv) as mx
                ON mv.vertrate = mx.vertrate
    UNION
    SELECT DISTINCT "fastest descending" as nomination, icao24, name as state, mv.vertrate as value
    FROM merged_view as mv
    INNER JOIN    
        (SELECT min(mv) as vertrate
        FROM (SELECT icao24, min(vertrate) as mv
                FROM merged_view
                GROUP BY icao24) as mv) as mx
                ON mv.vertrate = mx.vertrate
    UNION
    SELECT DISTINCT "highest flight" as nomination, icao24, name as state, mv.geoaltitude as value
    FROM merged_view as mv
    INNER JOIN    
        (SELECT max(geoalt) as geoalt
        FROM (SELECT icao24, max(geoaltitude) as geoalt
                FROM merged_view
                GROUP BY icao24) as mv) as mx
                ON mv.geoaltitude = mx.geoalt
    """
)

In [34]:
pd_TOP_values_df = TOP_values_df.toPandas()

In [31]:
pd_TOP_values_df

           nomination  icao24           state        value
0  fastest descending  a92a7c      California    -95.91040
1   fastest ascending  a1e9a0         Indiana    165.81120
2    fastest vertival  a43ca8         Alabama    554.63386
3   fastest ascending  a585e4       Louisiana    165.81120
4      highest flight  a8793d  South Carolina  38221.92000

### Find the most common side of the world as direction of flight

In [19]:
#The most common direction
spark.sql(
    """
    SELECT heading_str,
           Count (*) AS quantity
    FROM   merged_view
    WHERE  heading_str IS NOT NULL
    GROUP  BY heading_str
    ORDER  BY quantity DESC  
    """
).show()

+-----------+--------+
|heading_str|quantity|
+-----------+--------+
|       West| 1103720|
|       East|  857165|
|  Northwest|  621351|
|  Northeast|  532352|
|  Southwest|  520046|
|      North|  514020|
|      South|  471141|
|  Southeast|  430334|
+-----------+--------+

### Find top values of vertical speed, speed of ascending and descending, and the highest flight in each state
define views for every nomination

In [20]:
#Fastest vehicle
spark.sql(
    """
    SELECT DISTINCT "fastest vertival" as nomination, name as state, icao24,  mv.velocity as value
    FROM merged_view as mv
    INNER JOIN    
        (SELECT state, max(mv) as velocity
        FROM (SELECT name as state, icao24, max(velocity) as mv
                FROM merged_view
                GROUP BY name, icao24) as mv
        GROUP BY state) as mx
    ON mv.velocity = mx.velocity and mv.name = mx.state
    """
).createOrReplaceTempView('fastest_State')

In [21]:
#Fastest ascending
spark.sql(
    """
    SELECT DISTINCT "fastest ascending" as nomination, name as state, icao24,  mv.vertrate as value
        FROM merged_view as mv
        INNER JOIN    
            (SELECT state, max(mv) as vertrate
            FROM (SELECT name as state, icao24, max(vertrate) as mv
                    FROM merged_view
                    GROUP BY name, icao24) as mv
            GROUP BY state) as mx
        ON mv.vertrate = mx.vertrate and mv.name = mx.state
    """
).createOrReplaceTempView('fastest_ASC')

In [22]:
#Fastest descending
spark.sql(
    """
    SELECT DISTINCT "fastest ascending" as nomination, name as state, icao24,  mv.vertrate as value
        FROM merged_view as mv
        INNER JOIN    
            (SELECT state, min(mv) as vertrate
            FROM (SELECT name as state, icao24, min(vertrate) as mv
                    FROM merged_view
                    GROUP BY name, icao24) as mv
            GROUP BY state) as mx
        ON mv.vertrate = mx.vertrate and mv.name = mx.state
    """
).createOrReplaceTempView('fastest_DESC')

In [23]:
#Highest flight
spark.sql(
    """    
    SELECT DISTINCT "highest flight" as nomination, name as state, icao24, mv.geoaltitude as value
    FROM merged_view as mv
    INNER JOIN    
        (SELECT state, max(geoalt) as geoalt
        FROM (SELECT name as state, icao24, max(geoaltitude) as geoalt
                FROM merged_view
                GROUP BY name, icao24) as mv
        GROUP BY state) as mx
                ON mv.geoaltitude = mx.geoalt and mv.name = mx.state
    """
).createOrReplaceTempView('highest')

In [24]:
#The most common direction
windowSpec = Window.partitionBy("state").orderBy("quantity")
df_heading = spark.sql(
    """
        SELECT name as state, heading_str, count (*) as quantity
            FROM merged_view
            WHERE heading_str IS NOT NULL
            GROUP BY heading_str, name
            ORDER BY quantity DESC
    """
).withColumn("rank",rank().over(windowSpec)). \
    filter(col('rank') == 1). \
    sort(col('state')). \
    select('state', 'heading_Str')
df_heading.createOrReplaceTempView('heading_state')

In [25]:
state_result_df = spark.sql(
    """
 SELECT fst.state,
       fst.highest_altitude,
       fst.highest_plane,
       fst.fastest_desc,
       fst.fastest_dc_plain,
       fst.fastest_asc,
       fst.fastest_asc_pain,
       fst.highest_velocity,
       fst.fastest_plain,
       hs.heading_str AS direction
FROM   (SELECT fa.state,
               fa.highest_altitude,
               fa.highest_plane,
               fa.fastest_desc,
               fa.fastest_dc_plain,
               fa.fastest_asc,
               fa.fastest_asc_pain,
               fs.value  AS highest_velocity,
               fs.icao24 AS fastest_plain
        FROM   (SELECT fd.state,
                       fd.highest_altitude,
                       fd.highest_plane,
                       fd.fastest_desc,
                       fd.fastest_dc_plain,
                       fa.value  AS fastest_asc,
                       fa.icao24 AS fastest_asc_pain
                FROM   (SELECT h.state   AS state,
                               h.highest_altitude,
                               h.highest_plane,
                               fd.value  AS fastest_desc,
                               fd.icao24 AS fastest_dc_plain
                        FROM   (SELECT s.NAME   AS state,
                                       h.value  AS highest_altitude,
                                       h.icao24 AS highest_plane
                                FROM   states AS s
                                       LEFT JOIN highest AS h
                                              ON h.state = s.NAME) AS h
                               LEFT JOIN fastest_desc AS fd
                                      ON h.state = fd.state) AS fd
                       LEFT JOIN fastest_asc AS fa
                              ON fd.state = fa.state) AS fa
               LEFT JOIN fastest_state AS fs
                      ON fa.state = fs.state) AS fst
       LEFT JOIN heading_state AS hs
              ON fst.state = hs.state
       ORDER BY fst.state
    """
)

In [26]:
#Store results as csv
pd_state_result_df = state_result_df.toPandas()

In [27]:
pd_state_result_df

,state,highest_altitude,highest_plane,fastest_desc,fastest_dc_plain,fastest_asc,fastest_asc_pain,highest_velocity,fastest_plain,direction
0,Alabama,26365.20,a6c88a,-31.21152,a11d3c,42.91584,ab4010,554.633860,a43ca8,North
1,Alaska,12169.14,a7f63d,-27.96032,a8103e,29.58592,a71a72,269.353564,7811a3,Southwest
2,Arizona,14599.92,a6ff7e,-40.31488,acce1a,34.46272,a7771b,309.499532,a9961b,North
3,Arkansas,35852.10,a384f2,-27.96032,a243d2,32.51200,a2c0ff,291.595373,aa5631,South
4,California,36423.60,ad32f0,-95.91040,a92a7c,165.81120,a1a278,302.578801,a9961b,Northeast
5,Colorado,38061.90,a03ce6,-28.93568,a8f607,39.66464,a63836,297.735548,a88d20,North
6,Connecticut,12527.28,abfa24,-23.73376,ac838f,38.36416,a2badf,346.995052,a05646,South
7,Delaware,14516.10,a9f221,-26.33472,a0acbb,30.88640,a5232b,331.497191,abf66c,Northwest
8,District of Columbia,13235.94,a4d236,-14.30528,a1f1de,25.68448,a80689,312.880087,4d20f9,West
9,District of Columbia,13235.94,a4d236,-14.30528,a1f1de,25.68448,a6451a,312.880087,4d20f9,West
10,Florida,34259.52,ad9f7f,-36.73856,a33a93,31.21152,a24c77,310.742062,aac8f7,Northeast
11,Georgia,36309.30,ad2384,-34.78784,a422f7,38.36416,a4ee3b,320.911223,346386,West
12,Hawaii,NaN,None,NaN,None,NaN,None,NaN,None,None
13,Idaho,22044.66,394a02,-29.26080,a263e3,35.11296,a69bf1,302.707348,a2cb14,Southwest
14,Illinois,37879.02,a89bec,-37.06368,a33734,35.11296,a7b014,303.035901,a4ab85,Southeast
15,Indiana,31752.54,a851db,-32.18688,ab0158,165.81120,a1e9a0,310.303563,a11ba0,Southwest
16,Iowa,14264.64,a88d4d,-27.63520,a23d25,27.63520,ab5a01,302.605476,a0b82f,Northeast
17,Kansas,34869.12,a3520e,-27.31008,aa1b9a,30.23616,a1d93b,293.488386,a31df5,South
18,Kentucky,35516.82,a22ef3,-37.71392,a11d3c,31.86176,a4080c,315.360886,abf66c,East
19,Louisiana,33528.00,accee2,-141.10208,a68981,165.81120,a585e4,317.598660,aac8f7,North
20,Maine,12809.22,424b61,-33.81248,a282d0,31.21152,a70b2f,360.638453,89644f,Southeast
21,Maryland,23263.86,a891fd,-31.21152,aa9a0a,31.86176,abc2fb,332.391739,abf66c,Southeast
22,Massachusetts,12534.90,a52aa2,-26.65984,a94b2e,36.73856,a54a89,352.236392,4851b0,South
23,Massachusetts,12534.90,a52aa2,-26.65984,a7618f,36.73856,a54a89,352.236392,4851b0,South
24,Michigan,37627.56,c08887,-27.63520,a9a862,29.58592,a3e911,315.967886,a9a862,South
25,Minnesota,37627.56,c08887,-27.96032,ab6c94,31.53664,a4f5c6,304.832272,a771a8,South
26,Minnesota,37627.56,c08887,-27.96032,ab6c94,31.53664,ab0768,304.832272,a771a8,South
27,Mississippi,25519.38,a7b142,-37.38880,a01b56,24.05888,aa059e,315.123721,346386,South
28,Missouri,30388.56,abe3c8,-26.00960,a57f42,32.18688,a6a6b4,296.183957,aa5631,South
29,Montana,14157.96,acbd82,-27.96032,a5b55f,26.33472,a64517,309.067406,c02ed9,South
30,Nebraska,37078.92,a4795a,-28.61056,a406c9,26.33472,a406c9,311.665189,abded2,South
31,Nevada,35783.52,a74a5a,-39.66464,a810ac,66.32448,0d0d1f,298.310990,a31c5a,North
32,New Hampshire,12344.40,3c6701,-17.55648,a932a6,32.51200,a26fc9,358.366284,4b1918,South
33,New Jersey,35532.06,a8a3ce,-32.18688,aa5b9f,165.81120,a72894,336.330331,06a124,Northwest
34,New Mexico,37170.36,ada56f,-27.96032,a27aee,29.58592,a3b1a0,311.391640,a9961b,North
35,New York,37452.30,c05ca2,-34.78784,ac838f,42.59072,aa84dc,345.943987,896174,Southeast
36,North Carolina,38663.88,a677be,-30.88640,a8805b,34.78784,a16ff1,331.105366,aa1b3c,Southeast
37,North Dakota,12862.56,acf539,-18.85696,a3970f,29.58592,a3ea54,303.316549,abb6dc,South
38,Ohio,36751.26,ab6efc,-35.43808,a8b479,83.88096,a773b9,325.127387,06a127,Southwest
39,Oklahoma,37109.40,abef98,-91.68384,aab2b7,37.71392,a90474,293.188853,aab2b7,Southwest
40,Oregon,13677.90,ab6b21,-25.35936,a6ce5d,30.88640,a64517,308.975340,a7c583,Northeast
41,Pennsylvania,37208.46,a46e40,-32.18688,aba821,39.98976,0d04a3,340.568145,896174,South
42,Rhode Island,12512.04,abfa24,-23.08352,ac838f,32.18688,a7016c,350.139899,39c48d,Southeast
43,South Carolina,38221.92,a8793d,-29.58592,a9c8ee,30.88640,a7b133,320.217733,4850f5,East
44,South Dakota,13944.60,a2c983,-20.15744,a2be06,24.38400,a0062e,301.211685,aa8499,South
45,Tennessee,28285.44,a0f73c,-25.03424,a3370b,35.43808,a61d3e,321.680151,ab048d,Northwest
46,Texas,38572.44,a508c5,-33.48736,a81525,45.51680,a5c31b,317.661984,aa0e0d,Northeast
47,Utah,25229.82,a258be,-28.28544,a88d06,33.16224,a66530,295.576172,a0b82f,Southeast
48,Vermont,12451.08,ad2531,-23.40864,a3a155,41.94048,a70b23,350.941314,06a2af,Southeast
49,Virginia,16535.40,a38550,-27.63520,a4491a,36.08832,a77e8f,332.101794,406d7a,Northwest
50,Washington,24589.74,a1ae05,-30.88640,ad7701,36.41344,a5ea90,313.242328,406f76,Northeast
51,Washington,24589.74,a1ae05,-30.88640,ac181d,36.41344,a5ea90,313.242328,406f76,Northeast
52,West Virginia,27652.98,a04aa9,-30.88640,a1139f,29.91104,ac8a63,390.728939,a214e5,Southeast
53,Wisconsin,13860.78,a2c983,-22.43328,ad14a3,28.28544,a88e08,369.034602,ac9c39,Northeast
54,Wyoming,13731.24,a88d20,-16.90624,a7dbaa,11.05408,c0228f,297.426056,a13687,South